@media (orientation: portrait) and (max-width: 728px) {
    .turn-notice {
        visibility:visible;
    }

    #gameCanvas, .start-overlay, .start-screen, .game-over-overlay, .game-over-screen, 
    .win-overlay, .win-screen, .game-controls-container, .impressum-container, 
    .mobile-control-container, #absolute-container {
        display: none;
    }
}

@media only screen and (max-width: 630px) {
    .turn-notice img {
        height: 500px;
    }
}

@media only screen and (max-width: 530px) {
    .turn-notice img {
        height: 400px;
    }
}

@media only screen and (max-width: 430px) {
    .turn-notice img {
        height: 300px;
    }
}

@media (orientation: landscape) {
    .turn-notice {
        visibility: hidden;
    }
}

@media (max-height: 500px) {

    #game-title {
        display: none;
    }

    #gameCanvas, .start-overlay, .start-screen, .game-over-overlay, .game-over-screen, 
    .win-overlay, .win-screen, .game-controls-container, .impressum-container, 
    .mobile-control-container, #absolute-container {
        height: 100vh;
        width: 100vw;
        border: none;
        border-radius: 0;
    }

    #fullscreen-Icon {
        display: none;
    }

    .mobile-control-container {
        visibility: visible;
        margin: 0;
        margin-bottom: -10px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    #continue-btn {
        margin-bottom: -140px;
    }

    #play-again-btn {
        margin-bottom: 270px;
    }

    #absolute-container {
        bottom: 0;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #controls-info-btn {
        display: none;
    } 

    #impressum-btn {
        margin-right: 10px;
        margin-bottom: 2px;
        font-size: 14px;
        &:hover {
            transform: none;
            text-decoration: none;
        }
    }

    #impressum-box {
        font-size: 18px;
        h2 {
            font-size: 24px;
        }
    }
}

@media (max-width: 480px) {
    #mobile-move-control {
        margin-left: 70px;
    }
    
    #mobile-action-control {
        margin-right: 94px;
    }
}
