* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  padding-top: 88px;
}

canvas {
  background-color: black;
}

h1 {
  font-size: 55px;
  padding: 22px;
}